.real-estate-section {
  width: 100%;
  padding: 50px 20px;
  background-color:#F4F7F8;
  font-family: 'Cairo', sans-serif;
}

.banner {
  display:flex;
  justify-content: center;
  gap:650px;
  align-items: center;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 6px;
  font-size: .75rem;
}

.ReusableText{
  margin-top: 0px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.intro-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #333;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  width: 32%;
  flex-shrink: 0;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card .date {
  display: block;
  margin: 10px 0 0 0;
  font-size: .75rem;
  color: #333;
  text-align: right;
  padding-right: 10px;
}

.card-title {
  font-size: .90rem;
  font-weight: 600;
  color: #222;
  margin: 5px 10px;
  text-align: right;
}

.card .description {
  font-size: .75rem;
  color: #444;
  text-align: right;
  padding: 5px 10px 20px 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

@media (max-width: 1024px) {
  .cards-wrapper {
    gap: 15px;
    padding: 15px;
  }

  .card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .banner {
    flex-direction: row;
    gap: 100px;
  }

  .cards-wrapper {
    gap: 10px;
    padding: 10px;
  }

  .card {
    width: 100%;
  }

  .card img {
    height: 200px;
  }

  .card .date,
  .card-title,
  .card .description {
    padding-right: 5px;
    padding-left: 5px;
    text-align: right;
  }
}

@media (max-width: 480px) {
  .card img {
    height: 180px;
  }

  .card-title {
    font-size: .85rem;
  }

  .card .date,
  .card .description {
    font-size: .7rem;
  }
}
