.chart-wrapper {
  width: 100%;
  max-width: 100%;

}

.chart-title {
  text-align: right;
  margin-bottom: 12px;
  font-size: 18px;
    color: #226a9e;

}

.chart-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: flex-start;
  margin-bottom: 16px;
    background: #faf6f6;
  width: 100%;

}

.chart-btn {
  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  font-size: 13px;

}

.chart-btn.active {
  background:#368b9e;
  color: #fff;
}
.chart-btn:hover {
  background:#368b9e;
   color: #fff;
}
.chart-container {
      background: #ffffff;
 display: flex;
  width: 100%;
  height: 400px;
 min-height: 400px;
  

}
.recharts-cartesian-axis-tick text {
  font-size: 8px;
  fill: #6b7280;
}

/* ================== Responsive ================== */
@media (max-width: 768px) {
  .chart-wrapper {
    max-width: 100%;
    padding: 8px;
  }

  .chart-title {
    font-size: 16px;
  }

  .chart-container {
    height: 150px;
  }

  .chart-btn {
    font-size: 12px;
    padding: 4px 10px;
  }
}

@media (max-width: 480px) {
  .chart-container {
    height: 130px;
  }

  .chart-title {
    font-size: 14px;
  }

  .chart-btn {
    font-size: 11px;
    padding: 3px 8px;
  }
}
