* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

.latest-projects-section {
  padding: 50px 0;
  background: #f4f7f8;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.projects-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto 20px;
  gap: 20px;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: visible;
  padding-bottom: 70px;
  position: relative;
}

.project-card {
  position: relative;
  flex: 0 0 30%;
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 1;
  background: #fff;
}

.project-card.inactive {
  transform: scale(0.85);
  opacity: 0.6;
}

.project-card.active {
  flex: 0 0 60%;
  transform: scale(1.05);
  z-index: 2;
  border-radius: 42px;
}

/* Image */
.project-card .image-wrapper {
  position: relative;
  width: 100%;
  height: 450px;
}

/* Title */
.project-card h3 {
  margin: 14px;
  font-size: 18px;
  font-weight: 600;
  color: #012837;
}


.description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin: 0 14px 16px;
  flex-wrap: nowrap;
}

.description-wrapper .line {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #012837;
  line-height: 1.6;
}

.description-wrapper .line2 {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .project-card.active {
    flex: 0 0 70%;
  }
  .project-card {
    flex: 0 0 40%;
  }
}

@media (max-width: 768px) {
  .projects-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .project-card,
  .project-card.active {
    flex: 0 0 90%;
    max-width: 90%;
    transform: none;
    margin-top: 0;
    border-radius: 22px;
  }

  .project-card .image-wrapper {
    height: 260px;
  }

  .description-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .description-wrapper .line,
  .description-wrapper .line2 {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .projects-top-bar {
    width: 65%;
    gap: 6px;
  }

  .projects-top-bar .reusable-text .word,
  .projects-top-bar .reusable-text .wordtwo,
  .projects-top-bar .reusable-text .wordthree {
    font-size: 100%;
  }


  .project-card .image-wrapper {
    height: 220px;
  }

  .project-card h3 {
    font-size: 16px;
  }

  .description-wrapper .line {
    font-size: 12px;
    gap: 8px;
  }
}
