.map-section {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='80' viewBox='0 0 40 80'%3E%3Cpath d='M20 0 Q-5 20 20 30 T20 60 T20 80' fill='none' stroke='rgba(95,172,240,0.25)' stroke-width='2' stroke-dasharray='4,6'/%3E%3C/svg%3E");
  background-repeat: repeat;
}

.reusable-text-overlay {
  position: absolute;
  top: 20px;
  right: 150px;
  z-index: 13;
  font-size: 18px;
}

.side-image-wrapper {
  position: relative;
  width: 72%;
  height: 72%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: -82px;
}

.side-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.map-button,
.map-button2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #1e88e5;
  border: none;
  cursor: pointer;
  z-index: 4;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.map-button { top: 50%; left: 50%; transform: translate(90%, -80%); }
.map-button2 { top: 50%; left: 50%; transform: translate(-640%, 500%); }

.map-button:hover,
.map-button2:hover {
  transform: translate(0, 0) scale(1.3);
  background-color: #1565c0;
}

.map-button[data-tooltip]:hover::after,
.map-button2[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -35px;
  left: 50%;
 
  padding:3px 35px;
  font-size: 10px;
  color: #fff;
  background-color: #555;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  opacity: 1;
}

[dir="rtl"] .reusable-text-overlay {
  right:100px;
  left: auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 0;
}

[dir="ltr"] .reusable-text-overlay {
  left: 100px;
  right: auto;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 0;
}

@media (max-width: 1024px) {
  .map-section { height: 700px; }
  .side-image-wrapper { width: 100%; height: 100%; }
  .reusable-text-overlay { font-size: 16px; right: 50px; top: 15px; }
  .map-button { transform: translate(60%, -60%); width: 18px; height: 18px; }
  .map-button2 { transform: translate(-300%, 200%); width: 18px; height: 18px; }
}

/* Mobile */
@media (max-width: 768px) {
  .map-section { height: 450px; }
  .side-image-wrapper { width: 95%; height: 70%; }
  .reusable-text-overlay { font-size: 10px; right: 30px; top: 10px; }
  .map-button { transform: translate(50%, -50%); width: 15px; height: 15px; }
  .map-button2 { transform: translate(-350%, 300%); width: 15px; height: 15px; }
}

/* Small Mobile */
@media (max-width: 480px) {
  .map-section { height: 350px; }
  .side-image-wrapper { width: 100%; height: 75%; }
  .reusable-text-overlay { font-size: 8px; right: 15px; top: -35px; }
  .map-button { transform: translate(40%, -40%); width: 12px; height: 12px; }
  .map-button2 { transform: translate(-680%, 420%); width: 12px; height: 12px; }
}
