@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding:1px 125px;
  width: 100%;
  margin-inline: auto;
  position: fixed;
  z-index: 20;
  transition: all 0.3s ease;
}


.navbar.scrolled {
  background: rgba(238, 237, 237, 0.85);
  backdrop-filter: blur(8px);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-inline-start: -92px;

}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

.logo-img {
  width: 25px;
  height: auto;
}

.logo-texts {
  display: inline-grid;  
  grid-auto-columns: max-content;
    flex-direction: column;
  line-height: 1.25;
    justify-items: start;
     align-items: stretch; 
}

.slogan-one,
.slogan-two,
.slogan-three {
  display: block;
}

.slogan-one {
  font-size: 16px;
  font-weight: 600;
  font-family: "DM Serif Display", sans-serif;
  letter-spacing: 1px;
  white-space: nowrap;
}

.slogan-two {
  position: relative;      
  display: inline-block;   
  font-size: 11px;
  opacity: 0.9;
  font-family: "DM Serif Display", sans-serif;
  white-space: nowrap;
}

 .navbar.scrolled .slogan-two::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;     
  width: 100%;
  height: 1px;       
  background-color: currentColor; 
}

.slogan-three {
  font-size: 11px;
  opacity: 0.85;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 44px;
  padding: 30px 55px;
  background: rgba(62, 64, 78, 0.7);
  backdrop-filter: blur(1px);
  border-radius: 20px;
  white-space: nowrap;
  margin-inline-start: 50px;
  color: #ffffff;
  margin-top:10px
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  cursor: pointer;
  font-weight: 700;
}

.nav-arrow {
  display: inline-block;
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
  transform: rotate(30deg);
  transition: transform 0.5s ease;
}

.nav-btn:hover .nav-arrow {
  transform: rotate(90deg); 
}
.lang-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
   border: 1px solid #ffffff;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.hamburger span {
  width: 20px;
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
  transition:
    transform 0.55s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.35s ease;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1024px) {
  .navbar {
    padding: 30px 20px;
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    flex-direction: row;
    gap: 0;
    margin-top:-25px
  }

  .logo-wrapper {
    margin-inline-end: 50;
    order: 2;
  }

  .button-container {
    display: none;
  }

  .hamburger {
    display: flex;
    order: 1;
    position: relative;
  }

  .mobile-menu {
    position: absolute;
    top: calc(100% + 10px);
    inset-inline-start: 0;
    inset-inline-end: 0;
    margin: 0 16px;
    padding: 18px 16px;
  background: rgba(50, 52, 63, 0.7);
    backdrop-filter: blur(0px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #ffffff;
    z-index: 100;
  }

  .mobile-menu .nav-btn {
    justify-content: flex-start;
    font-size: 15px;
    padding: 8px 4px;
  }

  .lang-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-inline: auto;
    z-index: 110;
  }
}
