.partners-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  padding: 70px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
  overflow: hidden;
    background-color:  #E6E6E6;
  

}

.arabic-symbol {
  position: absolute;
  pointer-events: none;
 

}
.arabic-symbol img {
  filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(110%) contrast(100%);
}

.vector1 {
  left: 300px;
  top: 20px;
 
}

.vector2 {
  left: 30px;
  top: 90px;
  
}

.vector3 {
  left: 700px;
  top: 130px;
}

.vector4 {
  left: 1120px;
  top: 110px;
}

.vector5 {
  left: 450px;
  top: 120px;
}

.vector6 {
  left: 500px;
  top: 25px;
}

.vector7 {
  left: 1200px;
  top: 150px;
}


.vector8 {
  left: 1050px;
  top: 140px;
}


.partners-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: none;
  height: 200px;
  gap: 135px;
  margin-right:120px;
}

.logo-wrapper {
  width: 138px;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper img {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .partners-container {
    flex-direction: column;
    align-items: center;
    height: 290px;
    padding: 70px 30px;
    gap: 50px;
  }
  .partners-logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: 200px;
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .partners-container {
    padding: 60px 30px;
    gap: 40px;
    height: 280px;
  }
  .partners-logos {
    gap: 25px;
    height: 180px;
  }
}

@media (max-width: 600px) {
  .partners-container {
    padding: 55px 20px;
    gap: 35px;
    height: 280px;
  }
  .partners-logos {
    gap: 20px;
    height: 160px;
  }
}

@media (max-width: 400px) {
  .partners-container {
    padding: 10px 10px;
    gap: 5px;
    height: 180px;
  }
  .partners-logos {
    gap: 8px;
    height: 240px;
  }
}
