.projects-top-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  cursor: pointer;
  flex-wrap: wrap;
}

.project-top-image {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
  transition: transform 0.3s ease;
  flex: 1 1 300px;
  max-width: 400px;
}

.project-top-image:hover {
  transform: scale(1.03);
}

.image-overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 12px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 30px;
  font-weight: 800;
}

.image-overlay svg {
  display: block;
}

.overlay-text {
  font-size: 14px;
  font-weight: 500;
}

.projects-filter {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 10px 30px;
  border: 2px solid #35818b;
  border-radius: 40px;
  background: #ffffff;
  color: #35818b;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn:hover,
.filter-btn.active {
  background: #35818b;
  color: #ffffff;
}
.project-content{
   width: 100%;
max-width: 100%;
 margin: 0 auto;

}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  justify-items: center;
  width: 100%;
}

.project-card .image-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.project-card h3 {
  font-size: 14px;
  font-weight: 600;
  color: #012837;
}

.project-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 700px;
  height: 400px;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:0px;
}


.project-card span {
  font-size: 11px;
}

.project-info-grid {
  display: grid;
  grid-template-columns: 1fr 2fr; /* عمودين */
  gap: 5px;
  margin-top: 0;
}

.project-col-info {
  display: grid;
  grid-template-rows: auto auto auto; /* عنوان + صف 1 + صف 2 */
  gap: 3px;
}

.project-col-info .row {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size:14px;
  font-weight: 800;
  color: #a7a5a5; 
   flex-wrap: nowrap;        /* يمنع النزول */
  white-space: nowrap; 
}

.project-col-info .row span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-col-info .progress-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-right: 20px;
}
/* العمود التاني */
.project-col-details {
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 1.6;
  justify-content: flex-end;
  padding: 5px;
}

.info-row {
  gap: 5px;
  display: flex;
}

.progress-row {
  gap: 5px;
  display: flex;
}

.info-icon {
  color: #7aa8b1;
}

.location-first,
.progress-row {
  color: #7aa8b1;
  font-weight: 600;
}


.project-col-details p {
  margin: 0;
  color: #949191;
  font-size: 11px;
  font-weight: 700;
}

.project-location,
.project-units,
.project-area,
.project-progress {
  display: flex;
  align-items: center;
}

.location-icon {
  color: #0d6efd; /* أزرق */
}

.location-text,
.unit-number,
.progress-number {
  color: #0d6efd; /* أزرق */
  font-weight: 700;
}
.project-row {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 2px;
}

.progress-number {
  color: #0d6efd;
}

.progress-text {
  color: #000;
  font-weight: 600;
}
.project-description {
  padding: 0 10px;
  margin-top: 8px;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}

.project-description p {
  margin: 4px 0;
}
[dir="rtl"] .project-info-grid {
  direction: rtl;
}
[dir="ltr"] .project-info-grid {

  direction: ltr;
}

[dir="rtl"] .project-col-info .row {
  justify-content: flex-start;
}

[dir="rtl"] .project-col-info .progress-row {
  justify-content: flex-end;
}

[dir="rtl"] .project-col-details {
  text-align: right;
}

[dir="ltr"] .project-col-details {
  text-align: left;
}

[dir="rtl"] .project-col-info .row span {
  gap: 8px;
}

.no-projects {
  display:flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 600;
  color: #777;
  padding: 60px 2px;
}
[dir="ltr"] .no-projects{
  text-align: left;
}
/* اتجاه اللغة العامة */
[dir="ltr"] .filter-buttons {
  direction: ltr;
}

[dir="ltr"] .filter-btn {
  text-align: left;
}

[dir="ltr"] .project-info-grid {
  direction: ltr;
}
[dir="ltr"] .header-bar {
  direction: ltr;
}
.location-icon {
  color: #babdbd;   /* أزرق */
  margin-inline-end:1px; /* يشتغل RTL و LTR */
  font-size: 14px;
}


@media (max-width: 1024px) {
  .project-top-image {
    width: 90%;
    height: 300px;

  }


 .projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* موبايل: كارد واحد */
  gap: 25px;
  justify-items: center;
  width: 100%;
}

  .filter-buttons {
    flex-direction: row;
    gap: 5px;
  }
    .project-col-details p {
    font-size: 8px;
    line-height: 1.7;
      padding: 10px;

  }
  
.project-col-info .row span{
  display: flex;
  gap: 10px;
  align-items: center;
font-size: 10px !important;
  font-weight: 800;
   flex-wrap: nowrap;        /* يمنع النزول */
  white-space: nowrap; 
}

.project-col-info .progress-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-right: 20px;
    font-size:20px;
}
.project-card h3 {
  font-size: 18px;
   padding: 10px;

}
}
@media (max-width: 768px) {
  .project-top-image {
    width: 90%;
    height: 300px;
  }
 .projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* موبايل: كارد واحد */
  gap: 25px;
  justify-items: center;
  width: 100%;
}

  .filter-buttons {
    flex-direction: row;
    gap: 5px;
  }
    .project-col-details p {
    font-size: 14px;
    line-height: 1.7;
      padding: 10px;

  }
  
.project-col-info .row span{
  display: flex;
  gap: 10px;
  align-items: center;
font-size: 14px !important;
  font-weight: 800;
   flex-wrap: nowrap;        /* يمنع النزول */
  white-space: nowrap; 
}

.project-col-info .progress-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-right: 20px;
    font-size:20px;
}
.project-card h3 {
  font-size: 18px;
   padding: 10px;
}

}

@media (max-width: 480px) {
  .projects-top-images{
    width: 90%;
    height: 300px;
margin-right: 22px ;
  }
 .projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* موبايل: كارد واحد */
  gap: 25px;
  justify-items: center;
  width: 100%;
}

  .filter-buttons {
    flex-direction: row;
    gap: 5px;
      flex-wrap: nowrap;        /* يمنع النزول */
  white-space: nowrap; 
  }
    .project-col-details p {
    font-size: 8px;
    line-height: 1.7;
      padding: 10px;

  }
  
.project-col-info .row span{
  display: flex;
  gap: 10px;
  align-items: center;
font-size: 10px !important;
  font-weight: 800;
   flex-wrap: nowrap;        /* يمنع النزول */
  white-space: nowrap; 
}

.project-col-info .progress-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-right: 20px;
    font-size:20px;
}
.project-card h3 {
  font-size: 18px;
   padding: 10px;

}
.project-card {
  background: #fff;
  border-radius: 15px;
 width: 100%;
  max-width: 370px!important;
  height: 400px;  

}
.filter-btn {
  padding: 10px 20px;
  border: 2px solid #35818b;
  border-radius: 40px;
  background: #ffffff;
  color: #35818b;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

}