.project-map-section {
  position: relative;
  width: 95%;
  height: 520px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  margin:0 auto
}

.project-map-iframe {
  width: 100%;
  height: 100%;
  border: 0;
  flex-direction: column-reverse;
}

