* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

html, body {
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

.hero-bg,
.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: top center;
  z-index: -1;
}

.hero-bg {
  object-fit: cover;
}

.hero-image {
  object-fit: contain;
  z-index: -1;
  transform-origin: center center;
  will-change: transform;
}

.hero-content-wrapper {
  position: absolute;
  inset-inline-start: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: linear-gradient(180deg, rgba(15,17,23,0) 0%, rgba(111,98,89,0.8) 42%);
  padding: 40px 60px 30px 70px;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  z-index: -1;
}

.hero-text {
  max-width: 900px;
  color: #ffffff;
  text-align: start;
  padding: 10px;
}

.hero-text h2 {
  max-width: 611px;
  font-weight: 550;
  font-size: 68px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: none;
  color: #0c0c0c;
  font-size: 17px;
  font-weight: 750;
  cursor: pointer;
  padding: 6px 55px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.hero-btn:hover .first-arrow{
 
  transform: rotate(-45deg)
}


@media (max-width: 1024px) {
  .hero-section {
    height: 100vh;
    min-height: 520px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
  }

  .hero-content-wrapper {
    padding: 2px ;
    margin-bottom: 0px;
  }

  .hero-content {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
    
  }

  .hero-text {
    text-align: right;
    margin-bottom: -120px;
  }

  .hero-text h2 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .hero-image {
    object-fit: cover;
  }

    .hero-btn {
    padding: 10px;
    font-size: 10px;
    width: 180px;
   display: inline-flex;
  align-items: center;
   justify-content: center; 
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 100vh;
    min-height: 420px;
  }
  
  
  .hero-text h2 {
    font-size: 34px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .hero-btn {
    padding: 12px 24px;
    font-size: 18px;
  }
}
